* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");

form {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 3;
}
.form-container {
  width: 70%;
  height: 95%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  background: white;
  padding: 4rem;
  z-index: 41;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  border-radius: 5px;
}
.close {
  position: absolute;
  top: 1rem;
  right: 1rem;
  width: 3rem;
  cursor: pointer;
}

.publishYourPost,
.sellerInfomation {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.publishYourPost img,
.sellerInfomation img {
  margin: 1rem;
  width: 15vw;
}

.form__textBox {
  margin: 0.2rem;
}
.form__textBox .form_textBox,
.upload {
  width: 40vw;
  height: 5vh;
  border-radius: 5px;
  border: none;
  background-color: #9bbf7f;
  
  box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
}
.upload {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.2rem;
}

#description {
  height: 100%;
}

.button{
  display: flex;
  justify-content: center;
  align-items: center;
}
input[type="submit"] {
  margin: 1rem;
  width: 6rem;
  height: 3rem;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
  text-transform: uppercase;
  border-radius: 5px;
  font-weight: bold;
  color: white;
  padding: 0;
}

input,
textarea,
select,
.upload {
  padding-left: 1rem;
  font-family: inherit;
  font-size: inherit;
  font-size: 1rem;
  cursor: text;
  color: black;
}

input::placeholder, textarea::placeholder{
  font-weight: normal;
  color: black;
}

.uploadPic {
  font-family: inherit;
  font-size: inherit;
 
}
form textarea {
  padding-top: 0.5rem;
}
.submit{
  background: #749723;
  cursor: pointer;
}
.disabled_submit{
  background: #82925e;
}


@media screen and (max-width: 980px) {
  .form__textBox .form_textBox,
  .upload {
    width: 60vw;
  }
  .close {
    top: 0.5rem;
    right: 0.5rem;
    width: 2.5rem;
  }
  .publishYourPost img,
  .sellerInfomation img {
    width: 25vw;
  }
}

@media screen and (max-width: 680px) {
  .form-container {
    width: 90%;
  }
  .form__textBox .form_textBox,
  .upload {
    width: 80vw;
  }
  .publishYourPost img,
  .sellerInfomation img {
    width: 30vw;
  }
}

@media screen and (max-width: 490px) {
  .form-container {
    width: 95%;
    height: 80%;
  }
  .form__textBox .form_textBox,
  .upload {
    width: 90vw;
    height: 4vh;
  }
  form input[type="text"],
  input[type="number"],
  input[type="tel"],
  input[type="email"],
  form textarea,
  form select,
  .upload {
    padding-left: 0.5rem;
    font-size: 0.7rem;
  }
  .submit,
  .preview {
    width: 4rem;
    height: 1.5rem;
    font-size: x-small;
  }
}
