* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* .product-detail {
    display: flex;
    padding: 20px 40px 0;
    justify-content: space-between;
    min-height: 500px;
}

.product-detail-left {
    width: 47%;
}

.product-image {
    max-width: 100%;
    background-repeat: no-repeat;
}

.product-detail-right {
    width: 47%;
    min-height: 100%;
    padding: 30px;
    text-align: left;
    background: rgba(155, 191, 127, 0.4);
    margin: 80px;
}

.product-header {
display: flex;
   justify-content: space-between;
   align-items: center;

}

.product-name {
    width: 80%;
    text-align: left;
    margin-bottom: 10px;
}

.product-price {
    padding-right: 60px;
    width: 20%;
    text-align: right;
    padding-right: 50px;
}

.product-header-row {
    font-size: 30px;
    font-weight: bold;
    text-align: left;
}

.product-content-row {
    display: flex;
    margin: 10px 0;
}

.product-content-row {
    display: flex;
}

.product-content-icon {
    width: 10%;
}

product-content-text {
    width: 90%;
}

.product-footer {
    margin: 20px 10px;
}

.product-category {
    font-size: 20px;
    font-weight: bold;
    margin: 5px 5px;
}
textarea {
    font-weight: bold;
} */

.product-detail {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 5rem 0;
}
.product-detail-left img{
    width: 30vw;
}

.product-detail-right {
    width: 40vw;
    background: rgba(155, 191, 127, 0.4);
    padding: 2rem;
    border-radius: 3px;
}

.product-header {
    display: flex;
    justify-content: space-between;
    font-size: 2rem;
    font-weight: bolder;
}
.product-content-row{
    display: flex;
    width: 50%;
    font-size: 1.5rem;
    margin: 1rem 0;
}
.product-content-icon{
    margin-right: 2rem;
}
.product-footer{
    font-size: 1.5rem;
}
.product-category{
    font-size: 2rem;
    font-weight: bolder;
    margin-top: 2rem;
}
.product-description span textarea{
    font-size: 1.5rem;
    width: 100%;
    padding: 1rem;
    background-color: rgba(155, 191, 127, 0.2);
    border-radius: 3px;
    border: 1px solid #000000;
}