* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.product-detail {
    display: flex;
    padding: 20px 40px 0;
    justify-content: space-between;
    min-height: 500px;
}

.product-detail-left {
    width: 47%;
}

.product-image {
    max-width: 100%;
    background-repeat: no-repeat;
}

.product-detail-right {
    width: 47%;
    min-height: 100%;
    padding: 30px;
    text-align: left;
    background: rgba(155, 191, 127, 0.4);
}

.product-header {
    display: flex;
    margin: 5px 10px 10px 5px;
    text-align: left;
    justify-content: left;
}

.product-name {
    width: 80%;
    text-align: left;
    margin-bottom: 10px;
}

.product-price {
    width: 20%;
    text-align: right;
    padding-right: 50px;
}

.product-header-row {
    font-size: 30px;
    font-weight: bold;
    text-align: left;
}

span.price {
    padding-right: 60px;
}

.product-content-row {
    display: flex;
    margin: 10px 0;
}

.product-content-row {
    display: flex;
}

.product-content-icon {
    width: 10%;
}

product-content-text {
    width: 90%;
}

.product-footer {
    margin: 20px 10px;
}

.product-category {
    font-size: 20px;
    font-weight: bold;
    margin: 5px 5px;
}
textarea {
    font-weight: bold;
}
