* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.product-detail {
    display: flex;
    padding: 20px 30px;
    justify-content: space-between;
    min-height: 500px;
}

.product-detail-left {
    width: 47%;
}

.product-image {
    max-width: 100%;
    background-repeat: no-repeat;
}

.product-detail-right {
    width: 47%;
    min-height: 100%;
    padding: 20px;
    align-items: center;
    text-align: center;
    background: rgba(155, 191, 127, 0.4);
}
