.hero-banner-section {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.hero-banner {
  margin-top: 4rem;
  width: 100%;
}
.hero-banner-section .join-button {
  cursor: pointer;
}
/*changed from here*/
/* .dashboard {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.dashboard__container {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #dcdcdc;
  padding: 30px;
}
.dashboard__btn {
  padding: 10px;
  font-size: 18px;
  margin-top: 10px;
  border: none;
  color: white;
  background-color: black;
}
.dashboard div {
  margin-top: 7px;
} */
