* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.hero-banner-section {
  margin: 4rem 8rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0;
}

.hero-banner-left, .hero-banner-right {
  width: 45%;
}

.hero .join-button {
  cursor: pointer;
}
.hero{
  position: relative;
}
.join-button {
  position: absolute;
  bottom: 5%;
  left: 8rem;
  height: 15%;
}
.after-hero-banner {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  margin: 1rem 0;
}
.mision,
.vision,
.goal,
.how {
  width: 25vw;
}


.top-picks-line {
  margin-top: 2rem;
  width: 100%;
  margin: 2rem 0;
}


.topPicksProduct, .explore-collection{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2rem;
}
.explore-collection{
  flex-direction: column;
}

.topPicksProduct{
  width: 100%;
  display: flex;
}

@media (max-width: 1250px) {
  .mision,
  .vision,
  .goal,
  .how {
    width: 20vw;
  }
}
