.hero-banner-section {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  margin: 1rem 0;
}
.hero-banner {
  width: 100%;
}
.hero-banner-section .join-button {
  cursor: pointer;
}
.join-button {
  position: absolute;
  bottom: 15%;
  height: 15%;
}
.after-hero-banner {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  margin: 2rem 0;
}
.mision,
.vision,
.goal,
.how {
  width: 25vw;
}

.top-picks-line {
  width: 100%;
  margin: 1vh 0;
}
/* @media (max-width: 1600px) {
  .mision,
  .vision,
  .goal,
  .how {
    width: 280px;
  }
}
@media (max-width: 1430px) {
  .mision,
  .vision,
  .goal,
  .how {
    width: 250px;
  }
  .join-button {
    height: 55px;
  }
}
@media (max-width: 1260px) {
  .join-button {
    height: 50px;
  }
  .mision,
  .vision,
  .goal,
  .how {
    width: 200px;
  }
}
@media (max-width: 1100px) {
  .join-button {
    height: 40px;
  }
}
@media (max-width: 890px) {
  .join-button {
    height: 33px;
  }
  .mision,
  .vision,
  .goal,
  .how {
    width: 150px;
  }
}
@media (max-width: 740px) {
  .join-button {
    height: 25px;
    bottom: 13%;
  }
  .mision,
  .vision,
  .goal,
  .how {
    width: 120px;
  }
} */

/*changed from here*/
/* .dashboard {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.dashboard__container {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #dcdcdc;
  padding: 30px;
}
.dashboard__btn {
  padding: 10px;
  font-size: 18px;
  margin-top: 10px;
  border: none;
  color: white;
  background-color: black;
}
.dashboard div {
  margin-top: 7px;
} */
