/* header {
  position: sticky;
  top: 0;
  height: 5rem;
  width: 90%;
  margin: 2rem auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  background-color: olive;
  padding-right: 2rem;
  padding-left: 5rem;
}
.logo {
  text-decoration: none;
  text-transform: uppercase;
  color: whitesmoke;
}
.header-link {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
ul li {
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;

  padding-left: 1rem;
}
.link-list {
  color: white;
  text-decoration: none;
}  */
/* trang  nguyen start */

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}
.nav-bar {
  border-bottom: 1px solid black;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
}
.react-logo {
  width: 500px;
  height: 170px;
}
.nav-bar nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  background-color: white;
}

nav ul li a {
  display: inline-block;
}
.buy-product {
  margin-right: 10px;
}
.navbar-right {
  display: flex;
  align-items: center;
}
.person-icon {
  margin-left: 15px;
}
.dashboard__btn {
  height: 60px;
  width: 80px;
  background-color: black;

  font-weight: 800;
  color: white;
  border: none;
  font-family: Roboto;

  margin-bottom: 0.5rem;
  margin-left: 2rem;
  margin-top: 2rem;
  border-radius: 6px;
}

.userName_display {
  color: rgb(116, 151, 35);
}
.buy-product,
.sell-product {
  height: 60px;
  width: 80px;
}
.cart {
  position: relative;
}
.items_in_cart {
  height: 30px;
  width: 30px;
  background-color: rgb(116, 151, 35);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  position: absolute;
  top: -0.7rem;
  right: -0.7rem;
  font-size: 1.3rem;
}
.cart-icon,
.person-icon {
  height: 60px;
  width: 60px;
}

@media (max-width: 1120px) {
  .items_in_cart {
    height: 22px;
    width: 22px;
    font-size: 1rem;
  }
  .react-logo {
    width: 350px;
    height: 80px;
  }
  .buy-product,
  .sell-product {
    height: 50px;
    width: 70px;
  }
  .cart-icon,
  .person-icon {
    height: 30px;
    width: 30px;
  }
  .dashboard__btn {
    height: 50px;
    width: 70px;
  }
}

@media (max-width: 900px) {
  .cart-icon,
  .person-icon {
    height: 25px;
    width: 25px;
  }
  .buy-product,
  .sell-product {
    height: 50px;
    width: 60px;
  }
  .dashboard__btn {
    height: 25px;
    width: 25px;
  }

  nav ul li a {
    margin-right: 5px;
  }
}

@media (max-width: 780px) {
  .cart-icon,
  .person-icon {
    height: 20px;
    width: 20px;
  }
  .buy-product,
  .sell-product {
    height: 40px;
    width: 50px;
  }
  .dashboard__btn {
    height: 40px;
    width: 50px;
  }

  nav ul li a {
    margin-right: 3px;
  }
  .react-logo {
    width: 300px;
    height: 60px;
  }
  .navbar-right a {
    margin-left: 10px;
  }
}
@media (max-width: 630px) {
  .cart-icon,
  .person-icon {
    height: 20px;
    width: 20px;
  }
  .buy-product,
  .sell-product {
    height: 30px;
    width: 40px;
  }
  .dashboard__btn {
    height: 30px;
    width: 50px;
  }
  nav ul li a {
    margin-right: 3px;
  }
  .react-logo {
    width: 200px;
    height: 60px;
  }
  .navbar-right a {
    margin-left: 8px;
  }
  .userName_display {
    font-size: 11px;
  }
}
/* trang nguyen end  */
