/* header {
  position: sticky;
  top: 0;
  height: 5rem;
  width: 90%;
  margin: 2rem auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  background-color: olive;
  padding-right: 2rem;
  padding-left: 5rem;
}
.logo {
  text-decoration: none;
  text-transform: uppercase;
  color: whitesmoke;
}
.header-link {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
ul li {
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;

  padding-left: 1rem;
}
.link-list {
  color: white;
  text-decoration: none;
}  */
/* trang  nguyen start */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");

body {
  font-family: "Roboto", sans-serif;
}
.nav-bar {
  border-bottom: 1px solid black;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.react-logo {
  width: 450px;
  height: 200px;
}
.nav-bar nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  background-color: white;
}

nav ul li a {
  display: inline-block;
  margin-right: 20px;
  font-size: 25px;
}
.navbar-right {
  display: flex;
  align-items: center;
}
.navbar-right a {
  margin: 15px;
}

@media (max-width: 1360px) {
  .sell-product {
    width: 150px;
  }
  .navbar-right a {
    margin: 10px;
  }
}

@media (max-width: 1120px) {
  .sell-product {
    width: 120px;
  }
  .navbar-right a {
    margin: 6px;
  }
  .heart-icon,
  .person-icon {
    height: 30px;
    width: 30px;
  }
  nav ul li a {
    font-size: 20px;
  }
  .react-logo {
    width: 350px;
    height: 150px;
  }
}

/* trang nguyen end  */
