.cart_wrapper {
  background: thistle;
  display: flex;
  justify-content: space-between;
  margin-left: 2rem;
  margin-right: 2rem;
  padding-top: 1rem;

  padding-right: 1rem;
  width: 80vh;
  height: 11vh;
}

.total_price {
  font-size: 1rem;
  font-weight: bold;
  color: white;
  background-color: #40005d;
  border: 1px solid white;
  padding: 1rem;
  border-radius: 12px;
  width: 44%;
  margin-left: 11rem;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
.remove_btn {
  size: auto;
  padding-top: 1rem;
  margin-top: 0;
}

.cart_price {
  font-size: 1rem;
  font-weight: bold;
  color: white;
  background-color: #40005d;
  border: 1px solid white;
  border-radius: 12px;
  padding-top: 1rem;
  margin-bottom: auto;
}

@media (min-width: 580px) {
  .expense-item__description {
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    flex: 1;
  }

  .cart_price {
    font-size: 1.25rem;
    padding: 0.5rem 1.5rem;
  }
/* style added for images by rakhi please update this */
  .cartImg img{
width:60px;
height:60px;
  }
}
